

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
html {
  background-color: white;
  font-size: 1rem;
  scroll-behavior: smooth;
}

:root {
  --spacing: 20%;
}

.shrinking-p-4 {
  padding-left: 0%;
  padding-right: 0%;
}

.test {
  font-family: 'League Gothic', sans-serif;
}

.justify-content {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.button-text {
  font-size: 1.25rem;
}

.full-screen {
  min-height: 98%;
}

.flex-box {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
}

.display-flex {
  display: flex; 
}

.pill-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.align-center {
  justify-content: center;
}

.middle-page {
  align-self: center;
}

.flex-bottom {
  display: flex;
  align-items: bottom;
  flex-shrink: inherit;
}

.transparent {
  background-color: transparent;
}

.small {
  width: 15rem;
}

.shrink {
  flex-shrink: 1;
}

.iphone {
  height: 85%;
  max-width: 89%;
  max-height: 85%;
  align-self: center;
}

.pb-6 {
  padding-bottom: 6%;
}

.half-page {
  width: 50%;
}

.no-dec {
  list-style: none;
}

.chrono-list {
  display: flex;
  flex-direction: column;
}

.chrono-item {
  display: flex;
  flex-flow: row nowrap;
}

.icon {
  width :3rem;
}

.big-icon {
  width: 15%;
}

.align-center {
  align-items: center;
  align-self: flex-start;
}

.fill-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(1757%) hue-rotate(181deg) brightness(115%) contrast(100%);
}

.fill-black {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(1393%) hue-rotate(218deg) brightness(80%) contrast(90%);
}

.fill-pink {
  filter: brightness(0) saturate(100%) invert(42%) sepia(77%) saturate(1262%) hue-rotate(296deg) brightness(104%) contrast(102%); 
}

.highlights-flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-left: 2%; 
  padding-right: 2%;
  padding-top: 2;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1000px) {
  .mobile-bye {
    display: none;
  }
  .nav {
    display: none;
  }
}

.pro {
 display: inline-flex;
 box-sizing:content-box;
 margin-bottom: 20px;
}

.pro h3 {
  font-size: 140%;
}

.pro p {
  font-size: 100%;

}

.bubble-left {
  background-color: rgb(229,229,234);
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  color: black;
  border-color: rgb(234,234,234);
  border-width:3px;
  border-style: solid;
  margin-right: 10em;
}

.bubble-right {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  background-color: rgb(74, 181, 251);
  color: white;
  margin-left: 10rem;
}


.headlines {
  padding-right: 3rem;
  padding-left: 3rem;
  text-align: left;

}

.nav {
 position: relative; 
 width: 100%; 
 z-index: 10;
}

.nav-button {
  height: 3rem;
  text-align: center;
  padding: .5rem;
  border-radius: 50%;
}
.nav-button a{
  text-decoration: none;
  color: var(--bs-dark);
  font-size: 17px;
  transition: color 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);  
}

.nav-button a:hover {
  color: var(--bs-pink);
}

.navbar-fixed {
  opacity: 0.75
}

.navbar-trans {
  opacity: 1;
}

.call-to-action-2:hover{
  color: var(--bs-white);
  background-color: var(--bs-pink);
}


