
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

:root {
  --spacing: 20%;
}



.test {
  font-family: 'League Gothic', sans-serif;
}

.justify-content {
  justify-content: space-between;
}

.button-text {
  font-size: 1.25rem;
}

.full-screen {
  min-height: 98%;
}

.flex-box {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
}

.display-flex {
  display: flex; 
}

.pill-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.align-center {
  justify-content: center;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  flex-shrink: inherit;
}

.small {
  width: 20rem;
}

.shrink {
  flex-shrink: 1;
}

.iphone {
  height: 85%;
  max-width: 89%;
  max-height: 85%;
  align-self: center;
}

.pb-6 {
  padding-bottom: 6%;
}

.half-page {
  width: 50%;
}

.rounded {
  border-radius: 25px;
}

.bubble-spacing {
}

.no-dec {
  list-style: none;
}

.chrono-list {
  display: flex;
  flex-direction: column;
}

.chrono-item {
  display: flex;
  flex-flow: row nowrap;
}

.icon {
  width :3rem;
}

.big-icon {
  width: 10rem;
}

.highlights-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pro {
 padding-left: 8rem; 
 padding-right: 8rem;
}

.fill-white {
  filter: invert(100%) sepia(2%) saturate(1757%) hue-rotate(181deg) brightness(115%) contrast(100%);
}

.fill-black {
  fill: #0d0d0d
}

.fill-pink {
  filter: invert(42%) sepia(77%) saturate(1262%) hue-rotate(296deg) brightness(104%) contrast(102%); 
}

.triangle-left{
  width: 0;
  height: 0;
  border: 0 solid transparent;
  margin-top: -10rem;
  margin-left: 7rem;
  border-bottom-width: 49px;
  border-top-width: 114px;
  border-radius: 10px;
  border-left: 131px solid var(--bs-dark);
}

.triangle-right {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  margin-top: -10rem;
  margin-right: 7rem;
  border-top-width: 49px;
  border-bottom-width: 114px;
  border-right: 131px solid var(--bs-dark);

}

.left-bubble {
  margin-top: -30%;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

