@import url(https://fonts.googleapis.com/css?family=Raleway:500);
.call-to-action {
  text-decoration: none;
  background-color: var(--bs-pink);
  border: none;
  border-bottom: 6px solid #0d0d0d;
  border-top: 6px solid #0d0d0d;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'PT Serif';
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  letter-spacing: 3px;
  line-height: 34px;
  margin: 15px 45px;
  outline: none;
  padding: 0 10px;
  position: relative;
  transition: opacity .3s;
  text-transform: uppercase;
}

.call-to-action:before,
.call-to-action:after {
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: var(--bs-pink);
  border-radius: 50%;
  top: -6px;
  content: "";
  height: 46px;
  position: absolute;
  width: 46px;
  border: 6px solid var(--bs-pink);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.call-to-action:before {
  right: -23px;
  border-left-color: #0d0d0d;
  border-bottom-color: #0d0d0d;
}

.call-to-action:after {
  left: -23px;
  border-right-color: #0d0d0d;
  border-top-color: #0d0d0d;
}

.call-to-action:hover,
.call-to-action.hover {
  background-color: var(--bs-pink);
  color: #0d0d0d
}

.call-to-action:hover:before,
.call-to-action.hover:before,
.call-to-action:hover:after,
.call-to-action.hover:after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/*FAQ*/
body {
    color: #fff;
    background: #FFFFFF;
    font-family: 'PT Serif', sans-serif;
    overflow-x: hidden;
  }
  
  .faq-header{
    font-size: 42px;
    border-bottom: 1px dotted #ccc;
    padding: 24px;
  }
  
  .faq-content {
    margin: 0 auto;
  }
  
  .faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
  }
  
  .panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
  }
  
  .panel-content {
    font-size: 20px;
    color: #fff;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
  }
  
  .panel:checked ~ .panel-content{
    height: auto;
    opacity: 1;
    padding: 14px;
    z-index: 1;
    font-style: italic;
    color: #92D0FC;
  }
  
  .plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }
  
  .panel:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .panel {
    display: none;
  }
  





/* pricing */

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

#generic_price_table{
	background-color: #f0eded;
}

/*PRICE COLOR CODE START*/
#generic_price_table .generic_content{
	background-color: #fff;
}

#generic_price_table .generic_content .generic_head_price{
	background-color: #f6f6f6;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    color: #414141;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    color: #414141;
}

#generic_price_table .generic_content .generic_feature_list ul li{	
	color: #a7a7a7;
}

#generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid var(--bs-pink)
}

#generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid var(--bs-pink); 
    color: var(--bs-pink);
} 

#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: var(--bs-pink);
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
#generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
}

#generic_price_table .generic_content:hover .generic_price_btn a,
#generic_price_table .generic_content.active .generic_price_btn a{
	background-color: var(--bs-pink);
	color: #fff;
} 
#generic_price_table{
	margin: 50px 0 50px 0;
    font-family: 'Raleway', sans-serif;
}
.row .table{
    padding: 28px 0;
}

/*PRICE BODY CODE START*/

#generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
}

#generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
    font-family: "Lato",sans-serif;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

#generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#generic_price_table .generic_content .generic_feature_list ul li{
	font-family: "Lato",sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;

}
#generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
}
#generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
}

#generic_price_table .generic_content .generic_price_btn a{
    border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
    display: inline-block;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#generic_price_table .generic_content,
#generic_price_table .generic_content:hover,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
#generic_price_table .generic_content .price,
#generic_price_table .generic_content:hover .price,
#generic_price_table .generic_content .generic_price_btn a,
#generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
} 
@media (max-width: 320px) {	
}

@media (max-width: 767px) {
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#generic_price_table .col-md-3{
		float:left;
		width:50%;
	}
	
	#generic_price_table .col-md-4{
		float:left;
		width:50%;
	}
	
	#generic_price_table .generic_content{
		margin-bottom:75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic{
	margin: 0 auto;
}
.demo-pic:hover{
	opacity: 0.7;
}

#generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#generic_price_table_home li{
	float: left;
}
#generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
}
#generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .emerald{
	background: var(--bs-pink);
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
}
#generic_price_table_home .turquoise{
	background: var(--bs-pink);
	transition: all 0.3s ease-in-out 0s;
}

#generic_price_table_home .blue:hover,
#generic_price_table_home .emerald:hover,
#generic_price_table_home .grey:hover,
#generic_price_table_home .midnight:hover,
#generic_price_table_home .orange:hover,
#generic_price_table_home .purple:hover,
#generic_price_table_home .red:hover,
#generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
    font-weight: 300;
}
#generic_price_table_home .itemnametext{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}
#generic_price_table_home .footer{
	padding:40px 0;
}

.price-heading{
    text-align: center;
}
.price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium ;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.bottom_btn{
	background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}
.demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
}
.bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
}


footer.site-footer {
    padding: 60px 30px;
    background: var(--bs-dark);
    color: var(--bs-pink);
    font-size: 10pt;
}

div#footer-container {
    width: 768px;
    margin: 0 auto;
    transition: all 0.2s ease;
}

div#footer-grid {
    display: flex;
    align-items: stretch;
    padding-bottom: 60px;
}

/*============ footer 3 columns ===========*/

footer#footer-3-cols div#left-footer-section {
    flex-basis: 33.33%;
    border-right: 1px solid #444444;
    padding-right: 30px;
}

footer#footer-3-cols div#second-footer-section {
    flex-basis: 33.33%;
    border-right: 1px solid #444444;
    padding-right: 30px;
    padding-left: 30px;
}

footer#footer-3-cols div#right-footer-section {
    flex-basis: 33.33%;
    padding-left: 30px;
}

footer#footer-3-cols div#footer-logo-section {
    display: flex;
    align-items: center;
}

footer#footer-3-cols div#footer-logo {
    width: 30px;
    margin-right: 30px;
}

footer#footer-3-cols div#footer-search input {
    font-family: "Open Sans", sans-serif;
    border: 2px solid #999999;
    background: #2a2a2a;
    outline: none;
    color: #999999;
    padding: 2px;
    width: 130px;
}

footer#footer-3-cols div#footer-search button {
    font-family: "Open Sans", sans-serif;
    border: 2px solid #999999;
    background: transparent;
    color: #cecece;
    padding: 2px 10px;
    margin-left: 10px;
    cursor: pointer;
}

footer#footer-3-cols div#footer-search button:hover {
    background: #cecece;
    color: #666666;
    border: 2px solid #666666;
    transition: all 0.25s ease;
}

footer#footer-3-cols div#footer-search button:active {
    position: relative;
    top: 1px;
}

footer#footer-3-cols div.footer-section h3 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 12pt;
}

footer#footer-3-cols div#footer-logo img {
    width: 100%;
}

footer#footer-3-cols div.footer-information p {
    margin-top: 10px;
}

footer#footer-3-cols div.footer-information p:first-child {
    margin-top: 30px;
}

footer#footer-3-cols div.footer-information p:last-child {
    margin-bottom: 0;
}

footer#footer-3-cols div.footer-information p img {
    margin-right: 0.75em;
}


footer#footer-3-cols div.footer-section ul {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
}

footer#footer-3-cols div.footer-links ul li, footer#footer-3-cols div.footer-links ul li a   {
    list-style: none;
    color: white;
    line-height: 1.38em;
    margin-bottom: 1em;
}

footer#footer-3-cols div.footer-links ul li:last-child, footer#footer-3-cols div.footer-links ul li a:last-child   {
    margin-bottom: 0;
}

footer#footer-3-cols div.footer-section ul li a:hover {
    color:#00bdc6;
    transition: all 0.2s ease;
}

footer#footer-3-cols div#copyright-information {
    border-top: 1px solid #444444;
    padding: 30px 0 0 0;
    text-align: center;
    display: flex;
    align-items: center;
}

footer#footer-3-cols div#copyright-information div#social-buttons {
    margin-left: auto;

}

footer#footer-3-cols div#copyright-information div#social-buttons img {
    margin-left: 0.68em;
    cursor: pointer;
    font-size: 14pt;
}


/*==== media queries for footer-3-columns ====*/

@media screen and (max-width: 960px){

    div#footer-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    div#footer-grid {
        flex-direction: column;
        width: 480px;
        margin: 0 auto;
        padding-bottom: 60px;
    }

    footer#footer-3-cols div#left-footer-section {
        border-right: 0;
        padding-bottom: 30px;
    }

    footer#footer-3-cols div#second-footer-section {
        border-right: none;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;

    }

    footer#footer-3-cols div.footer-section {
        padding-top: 30px;
    }

    footer#footer-3-cols div.footer-section h3 {
        text-align: center;
    }

    footer#footer-3-cols div.footer-section:first-child {
        padding-top: 0;
        padding-bottom: 0;
    }

    footer#footer-3-cols div#right-footer-section {
        padding-left: 0;
        padding-right: 0;
    }

    footer#footer-3-cols div#second-footer-section ul,
    footer#footer-3-cols div#right-footer-section ul {
        margin: 0;
        padding: 0;
        font-size: 11pt;
        text-align: center;
    }

    footer#footer-3-cols div.footer-links ul li {
        margin: 0;
    }

    footer#footer-3-cols div.footer-links ul li a {
        margin: 0;
        display: block;
        padding: 15px;
        background: #2a2a2a;
        border-bottom: 1px solid #444444;
        text-decoration: none;

    }

    footer#footer-3-cols div.footer-links ul li:last-child a {
        border-bottom: none;
    }

    footer#footer-3-cols div#footer-search input {
        width: calc(100% - 77px);
    }

    footer#footer-3-cols div#copyright-information {
        display: block;
        width: 480px;
        margin: 0 auto;
    }

    footer#footer-3-cols div#copyright-information div#social-buttons {
        padding: 15px 0;
    }

    footer#footer-3-cols div#copyright-information div#social-buttons img:first-child {
        margin-left: 0;
    }

    footer#footer-3-cols div#copyright-information div#footer-logo-section {
        display: block;
        align-items: normal;
    }

    footer#footer-3-cols div#copyright-information div#footer-logo {
        display: block;
        width: 100%;
        margin: 0;
    }

    footer#footer-3-cols div#copyright-information div#footer-logo img {
        width: 30px;
        text-align: center;
    }

    footer#footer-3-cols div#copyright-information div#copyright-text {
        display: block;
        text-align: center;
        padding: 15px 0;
    }

    footer#footer-3-cols div#copyright-information div#social-buttons i.fa {
        font-size: 24pt;
    }
}

@media screen and (max-width: 576px) {

    div#footer-grid {
        width: 100%;
    }

    footer#footer-3-cols div#footer-search input {
        width: calc(100% - 77px);
    }

    footer#footer-3-cols div.footer-information {
        margin: 0 auto;
    }

    footer#footer-3-cols div#copyright-information {
        width: 100%;
        margin: 0 auto;
    }

    footer#footer-3-cols div#copyright-information div#copyright-text {
        width: 100%;
    }

    footer#footer-3-cols div#copyright-information div#social-buttons {
        width: 100%;
    }
}
